<!-- Page Header-->
<header class="masthead" style="background-image: url(<%= asset_path 'user_show.jpg' %>)">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>PicChum</h1>
          <span class="subheading">〜Picture（写真）を通してChum（仲良し）になれますに〜</span><br>
          <h1>ユーザー登録</h1>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="my-5">
          <p>ユーザー登録を行います。<br>ユーザー情報を入力してください。</p>
          <div class="field">
            <%= render 'form', user: @user %>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>